*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.container{
    width: 50%;
    min-height: 500px;
    margin-top: 40px;
    margin-left: 30px;
    background-color: rgb(183, 8, 2);
    border-radius: 15%;
}
.todo-list{
    padding-left: 50px;
    padding-top: 50px;
    display: inline-flex;
    margin-bottom: 20px;
}
img{
    width: 30px;
    margin-left: 15px;
    color: peachpuff;
}
h2{
    margin-left: 30px;
    font-size: 40px;
    font-weight: 800;
    color: rgb(255, 255, 255);
   /* margin-top: -30px; */
}
.row{
    display: flex;
    width: 300px;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    margin-left: 40px;

}
#input-box{
    border: none;
    margin-left: 30px;
    width: 210px;
    height: 40px;
    padding-left:30px ;
    border-top-left-radius:30px ;
    border-bottom-left-radius:30px ;
    cursor: pointer;
}
button{
    width: 70px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border: none;
    color: rgb(90, 91, 92);
    padding-right: 30px;
    border-top-right-radius:30px ;
    border-bottom-right-radius:30px ;
    cursor: pointer;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding-left: 80px;
    padding-top: 30px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked-10.png);
    background-size: cover;
    background-position: center;
    top: 26px;
    left: 40px;
}
ul li.checked{
    color: #000000;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/images.png);
}
ul li span{
    position: absolute;
    right: 100px;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #000000;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}